<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1 text-primary">Kollégáink</h5>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="assets\pictures\oktatok\instructor1.png" alt="card image"></p>
                                    <h4 class="card-title text-primary">Kiss Milán</h4>
                                    <p class="card-text">Gyere hozzám vezetni! <br><br> Megtanítalak minden fontos dologra, ami a járműved biztonságos vezetéséhez kell.</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="bi bi-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title text-primary">Kiss Milán</h4>
                                    <p class="card-text"> Ha biztosra akarsz menni és biztonságosan szeretnél vezetni a jövőben. Gyere hozzám vezetni.</p><br>
                                    <p class="card-text"> Végzettség: gépjármű-technikus</p>
                                    <p class="card-text"> Oktatott kategória: B</p>
                                    <p class="card-text"> Vezetési tapasztalat: 10 év</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="bi bi-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="bi bi-messenger"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="bi bi-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="bi bi-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="assets\pictures\oktatok\instructor2.png" alt="card image"></p>
                                    <h4 class="card-title text-primary">Nedvesi Csaba</h4>
                                    <p class="card-text">Gyere hozzám vezetni! <br><br> Megtanítalak minden fontos dologra, ami a járműved biztonságos vezetéséhez kell.</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="bi bi-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title text-primary">Nedvesi Csaba</h4>
                                    <p class="card-text"> Ha biztosra akarsz menni és biztonságosan szeretnél vezetni a jövőben. Gyere hozzám vezetni.</p><br>
                                    <p class="card-text"> Végzettség: gépjármű-technikus</p>
                                    <p class="card-text"> Oktatott kategória: B</p>
                                    <p class="card-text"> Vezetési tapasztalat: 10 év</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="bi bi-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="bi bi-messenger"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="bi bi-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="bi bi-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="assets\pictures\oktatok\instructor4.png" alt="card image"></p>
                                    <h4 class="card-title text-primary">Kovács Balázs</h4>
                                    <p class="card-text">Gyere hozzám vezetni! <br><br> Megtanítalak minden fontos dologra, ami a járműved biztonságos vezetéséhez kell.</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="bi bi-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title text-primary">Kovács Balázs</h4>
                                    <p class="card-text"> Ha biztosra akarsz menni és biztonságosan szeretnél vezetni a jövőben. Gyere hozzám vezetni.</p><br>
                                    <p class="card-text"> Végzettség: gépjármű-technikus</p>
                                    <p class="card-text"> Oktatott kategória: B</p>
                                    <p class="card-text"> Vezetési tapasztalat: 10 év</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="bi bi-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="bi bi-messenger"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="bi bi-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="bi bi-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="assets\pictures\oktatok\instructor10.png" alt="card image"></p>
                                    <h4 class="card-title text-primary">Kiss Bianka</h4>
                                    <p class="card-text">Gyere hozzám vezetni! <br><br> Megtanítalak minden fontos dologra, ami a járműved biztonságos vezetéséhez kell.</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="bi bi-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title text-primary">Kiss Bianka</h4>
                                    <p class="card-text"> Ha biztosra akarsz menni és biztonságosan szeretnél vezetni a jövőben. Gyere hozzám vezetni.</p><br>
                                    <p class="card-text"> Végzettség: gépjármű-technikus</p>
                                    <p class="card-text"> Oktatott kategória: B</p>
                                    <p class="card-text"> Vezetési tapasztalat: 10 év</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="bi bi-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="bi bi-messenger"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="bi bi-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="bi bi-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="assets\pictures\oktatok\instructor5.png" alt="card image"></p>
                                    <h4 class="card-title text-primary">Nagy Vivien</h4>
                                    <p class="card-text">Gyere hozzám vezetni! <br><br> Megtanítalak minden fontos dologra, ami a járműved biztonságos vezetéséhez kell.</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="bi bi-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title text-primary">Nagy Vivien</h4>
                                    <p class="card-text"> Ha biztosra akarsz menni és biztonságosan szeretnél vezetni a jövőben. Gyere hozzám vezetni.</p><br>
                                    <p class="card-text"> Végzettség: gépjármű-technikus</p>
                                    <p class="card-text"> Oktatott kategória: B</p>
                                    <p class="card-text"> Vezetési tapasztalat: 10 év</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="bi bi-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="bi bi-messenger"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="bi bi-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="bi bi-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="assets\pictures\oktatok\instructor3.png" alt="card image"></p>
                                    <h4 class="card-title text-primary">Tóth Zsanett</h4>
                                    <p class="card-text">Gyere hozzám vezetni! <br><br> Megtanítalak minden fontos dologra, ami a járműved biztonságos vezetéséhez kell.</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="bi bi-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title text-primary">Tóth Zsanett</h4>
                                    <p class="card-text"> Ha biztosra akarsz menni és biztonságosan szeretnél vezetni a jövőben. Gyere hozzám vezetni.</p><br>
                                    <p class="card-text"> Végzettség: gépjármű-technikus</p>
                                    <p class="card-text"> Oktatott kategória: B</p>
                                    <p class="card-text"> Vezetési tapasztalat: 10 év</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="bi bi-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="bi bi-messenger"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="bi bi-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="bi bi-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
        </div>
    </div>
</section>
<!-- Team -->
