<section id="section">
    <div class="container mt-5">

<div class="container">
    <div class="row">
      <div class="col">
        <h1>AM kategória</h1><br>
        <p>A segédmotoros kerékpár – köznapi nevén moped vagy robogó – olyan jármű, amely
          legnagyobb tervezési sebessége 45 km/óra, saját tömege legfeljebb 350 kg,
          maximum 50 cm³-es belső égésű motor vagy legfeljebb 4 kW teljesítményű egyéb motor hajtja.
          A segédmotoros kerékpár általában kétkerekű, de lehet három- vagy négykerekű is.</p>
          <p>A tanfolyamra az jelentkezhet, aki

            legalább 13 év fél éves, írni és olvasni tud, kitöltötte a jelentkezési lapot, megkötötte a felnőttképzési szerződést.
            Vizsgára akkor bocsátható valaki, ha teljesítette az előírt óraszámot.
            
            Az elméleti vizsgát a 14 életév betöltése előtt 3 hónappal le lehet tenni. Gyakorlati vizsga esetén a 14. életévet kell betölteni.</p>
      </div>
      <div class="col">
        <p>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExampleOne" aria-expanded="false" aria-controls="collapseWidthExampleOne">
              Mit vezethetek AM kategóriával?
            </button>
          </p>
          <div style="min-height: 120px;">
            <div class="collapse collapse-horizontal" id="collapseWidthExampleOne">
              <div class="card card-body" style="width: 300px;">
                <ul>
                  <li>Segédmotoros kerékpár</li>
                  <li>Lassú jármű és pótkocsija</li>
                  <li>Kerti traktor</li>
                  <li>Állati erővel vont jármű</li>
                </ul>

              </div>
            </div>
          </div>
      </div>
    </div>
    </div>
</div>
</section>