    <nav class="navbar navbar-expand-md bg-primary navbar-dark sticky-top">
      <div class="container-fluid">
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <div class="navbar-nav">
            <a href="/index" img class="nav-item nav-link active">Kezdőlap</a>
          <div class="dropdown">
            <a class="nav-item nav-link dropdown-toggle" href="/home" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Kategóriák</a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="/am">AM kategória</a></li>
                <div class="dropdown-divider"></div>
                <li><a class="dropdown-item" href="/b">B kategória</a></li>
                <li><a class="dropdown-item" href="/be">B+E kategória</a></li>
                <div class="dropdown-divider"></div>
                <li><a class="dropdown-item" href="/c">C kategória</a></li>
                <li><a class="dropdown-item" href="/ce">CE kategória</a></li>
                <li><a class="dropdown-item" href="/c1e">C1E kategória</a></li>
                <div class="dropdown-divider"></div>
                <li><a class="dropdown-item" href="/d">D kategória</a></li>
                <li><a class="dropdown-item" href="/de">DE kategória</a></li>
                <li><a class="dropdown-item" href="/d1">D1 kategória</a></li>
                <li><a class="dropdown-item" href="/d1e">D1E kategória</a></li>
                <div class="dropdown-divider"></div>
                <li><a class="dropdown-item" href="/t">T kategória</a></li>
              </ul>
          </div>
            <a href="/price" class="nav-item nav-link">Áraink</a>
            <a href="/information" class="nav-item nav-link">Információk</a>
            <a href="/contact" class="nav-item nav-link">Kapcsolat</a>
            <a href="/instructor" class="nav-item nav-link">Oktatók</a>
            <a href="/vehicles" class="nav-item nav-link">Gépjárművek</a>
          </div>
        </div>

        <div class="navbar-nav nav-item nav-link bg-primary navbar-right navbar-light d-flex">
          <div class="btn-group dropstart">
            <button type="button" class="btn btn-properties dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-circle"></i>
            </button>
              <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="/user">Profil</a></li>
                <li><a class="dropdown-item" href="/admin">Admin</a></li>
                <li><a class="dropdown-item" href="/admin">Dashboard</a></li>
              </ul>
            </div>
        </div>
      </div>
    </nav>
