<section id="section">
  <div class="container mt-5">
          <div class="row">
              <div class="col-2">
                  <nav class="navbar bg-light">
                        <div class="container-fluid">
                          <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/admin"><i class="bi bi-house-door"></i> Admin Home</a>
                              </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/category"><i class="bi bi-card-list"></i> Tanfolyamok</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="/students"><i class="bi bi-people"></i> Tanulók</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="/instructors"><i class="bi bi-person-video2"></i> Oktatók</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="/vehicleadmin"><i class="bi bi-key"></i> Járművek</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="/lesson"><i class="bi bi-stoplights"></i> Tantárgyak</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="/subjects"><i class="bi bi-stopwatch"></i> Óraszámok</a>
                              </li>
                          </ul>
                        </div>
                    </nav>
              </div>
              <div class="col-10 bg-light">
                <table class="table">
                  <thead>
                      <tr>
                          <th scope="col">Sorszám</th>
                          <th scope="col">Vezetéknév</th>
                          <th scope="col">Keresztnév</th>
                          <th scope="col">Telefonszám</th>
                          <th scope="col">Email</th>
                          <th scope="col">Műveletek</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of instructors">
                          <th scope="row">{{ item.id }}</th>
                          <td>{{ item.vezeteknev }}</td>
                          <td>{{ item.keresztnev }}</td>
                          <td>{{ item.telefonszam }}</td>
                          <td>{{ item.email }}</td>
                          <td>
                            <button type="button" class="btn btn-properties btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop"> Szerkesztés </button>
                            <button type="button" class="btn btn-properties btn-danger" (click)="deleteInstructorData(item.id)"> X </button>
                          </td>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-scrollsble">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="staticBackdropLabel">Oktató adatai</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <!-- Első sor -->
          <label for="vezeteknev" class="form-label">Vezetéknév</label>
          <input type="text" value="" class="form-control" id="vezeteknev">
          <!-- Második sor -->
          <label for="keresztnev" class="form-label">Keresztnév</label>
          <input type="text" value="" class="form-control" id="keresztnev">
          <!-- Harmadik sor -->
          <label for="anyjaneve" class="form-label">Anyja neve</label>
          <input type="text" value="" class="form-control" id="anyjaneve">
          <!-- Negyedik sor -->
          <label for="szuletesi_hely" class="form-label">Születési hely</label>
          <input type="text" value="" class="form-control" id="szuletesi_hely">
          <!-- Ötödik sor -->
          <label for="szuletesi_ido" class="form-label">Születési idő</label>
          <input type="date" value="" class="form-control" id="szuletesi_ido">
          <!-- Hatodik sor -->
          <label for="telefonszam" class="form-label">Telefonszám</label>
          <input type="number" value="" class="form-control" id="telefonszam">
          <!-- Hetedik sor -->
          <label for="email" class="form-label">Email cím</label>
          <input type="email" value="" class="form-control" id="email">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary btn-sm mx-2" data-bs-dismiss="modal">Mégse</button>
      <button type="button" class="btn btn-primary btn-sm mx-2" routerLink="/{{item.id}}">Mentés</button>
    </div>
  </div>
</div>
</div>
                  </tbody>
              </table>
            </div>
            
          </div>
      </div>
</section>