<section id="section">
<div class="container mt-5 section">
<table class="table table-secondary">
    <thead>
      <tr class="table-primary">
        <th scope="col">Kategória</th>
        <th scope="col">Elméleti képzés díja</th>
        <th scope="col">Elméleti vizsgadíj</th>
        <th scope="col">Gyakorlati óradíj</th>
        <th scope="col">Gyakorlat vizsgadíj</th>
        <th scope="col">Összes vizsgadíj</th>
        <th scope="col">Összes tanfolyamdíj</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-light">
        <td>AM</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>3600 Ft/óra</td>
        <td>2500 Ft</td>
        <td>26000 Ft</td>
        <td>260000 Ft</td>
      </tr>
      <tr>
        <td>B</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>3600 Ft/óra</td>
        <td>2500 Ft</td>
        <td>26000 Ft</td>
        <td>260000 Ft</td>
      </tr>
      <tr class="table-light">
        <td>T</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>3600 Ft/óra</td>
        <td>2500 Ft</td>
        <td>26000 Ft</td>
        <td>260000 Ft</td>
      </tr>
      <tr>
        <td>B</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>3600 Ft/óra</td>
        <td>2500 Ft</td>
        <td>26000 Ft</td>
        <td>260000 Ft</td>
      </tr>
      <tr class="table-light">
        <td>T</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>3600 Ft/óra</td>
        <td>2500 Ft</td>
        <td>26000 Ft</td>
        <td>260000 Ft</td>
      </tr>
    </tbody>
  </table>
</div>
</section>