<section id="section">
    <div class="container mt-5">

<div class="container">
    <div class="row">
      <div class="col">
        <h1>D kategória</h1>
        <p>Mivel autóbusz-vezetőként nem pusztán kedvtelésből autózik, szakmáját hivatásnak kell tekinteni, és ezért részletesebb műszaki ismereteket, utasbiztonsági és poggyászelhelyezési szabályokat kell elsajátítania a közlekedési és vezetéselméleti részeken túl.</p>
        <p>Az autóbuszok mozgása és iránytartása némiképp eltér az egyéb járműveknél megszokottól. Legfőképpen kanyarodás és hátramenet során, illetve emelkedőn vagy lejtőn közlekedve kell rendkívül körültekintően eljárni, különös tekintettel a jármű környezetében lévő, megnövekedett holtterekre. Az utasokkal teli autóbuszok gyorsítóképessége jelentősen kisebb, mint a terheletleneké, de terheletlenül is elmarad például a személygépkocsik gyorsulásától. Az autóbuszon utazó utasok menet közbeni helyváltoztatása is jelentősen befolyásolja a jármű mozgásmechanizmusát.</p>
        <p>Tanfolyamra jelentkezés feltételei:

          21 életév
          (24. év betöltéséig kizárólag Magyarországon jogosít vezetésre!)
          Érvényes B és C kategóriás vezetői engedéllyel kell rendelkezni és azok másolata.
          II. csoportú orvosi alkalmasságról szóló igazolás.</p>
      </div>
      <div class="col">
        <p>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExampleOne" aria-expanded="false" aria-controls="collapseWidthExampleOne">
              Mit vezethetek D kategóriával?
            </button>
          </p>
          <div style="min-height: 120px;">
            <div class="collapse collapse-horizontal" id="collapseWidthExampleOne">
              <div class="card card-body" style="width: 300px;">
                <ul>
                  <li>Autóbusz</li>
                  <li>“D1” alkategóriás autóbusz</li>
                  <li>mg-i vontató könnyűpótkocsival</li>
                  <li>segédmotoros kerékpár, lassú jármű és pótkocsija</li>
                  <li>kerti traktor</li>
                  <li>állati erővel vont jármű</li>
                </ul>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>D+E kategória</h1><br>
            <h3>A kategóriás képzés vizsgatárgyai:</h3><br>
            <dl>  
              <dt>Elmélet</dt> <br>
                <dd>&nbsp; Közlekedési alapismeretek</dd>
                <dd>&nbsp; Szerkezeti és üzemeltetési ismeretek</dd>
            </dl>
            <dl>  
              <dt>Gyakorlat</dt><br>
                <dd>&nbsp; Biztonsági ellenőrzés és üzemeltetés</dd>
                <dd>&nbsp; Rutin</dd>
                <dd>&nbsp; Forgalmi vezetés</dd>
            </dl>

        </div>
        <div class="col">
            <p>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExampleThree" aria-expanded="false" aria-controls="collapseWidthExampleThree">
                    Mit vezethetek D+E kategóriával?
                </button>
              </p>
              <div style="min-height: 120px;">
                <div class="collapse collapse-horizontal" id="collapseWidthExampleThree">
                  <div class="card card-body" style="width: 300px;">
                    D + E kombinált jogosítvány birtokában D kategóriába sorolt gépkocsiból és nehéz pótkocsiból álló járműszerelvényt vezethetünk, de csak olyat, amelynél a pótkocsit nem személyszállításra használják.
                  </div>
                </div>
              </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
            <h1>D1 kategória</h1>
            <p>A jelentkezés feltételei: <br><br>

              Érvényes személyazonosító okmány és lakcímkártya
              Legalább alapfokú iskolai végzettség
              „B” kategóriás érvényes vezetői engedély
              II. csoportú orvosi alkalmassági igazolás
              Betöltött legalább 17 év 6 hónapos életkor</p>
              <p>A tanfolyam tantárgyai</p><p>

               <h4>Elmélet:</h4>
               <p>  40 óra
                
                Közlekedési alapismeretek
                Járművezetés elmélete
                Szerkezeti és üzemeltetési ismeretek
                Biztonsági ellenőrzés és üzemeltetés <br>

                <h4>Gyakorlat:</h4> <p> 29 óra 
                
                Vezetési gyakorlat – alapoktatás – 6 óra
                Vezetési gyakorlat – főoktatás: városi forgalom -15 óra, országúti forgalom -4 óra, hegyvidék -2 óra, éjszakai- 2 óra
                <br><br>  Összesen: 69 óra</p>
        </div>
        <div class="col">
            <p>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExampleFour" aria-expanded="false" aria-controls="collapseWidthExampleFour">
                    Mit vezethetek D+1 kategóriával?
                </button>
              </p>
              <div style="min-height: 120px;">
                <div class="collapse collapse-horizontal" id="collapseWidthExampleFour">
                  <div class="card card-body" style="width: 300px;">
                    A vezetőn kívül legfeljebb 16 utas szállítására tervezett és gyártott gépjárművet, továbbá a „D1” kategóriába tartozó gépjárműből és hozzá kapcsolt könnyű pótkocsiból álló járműszerelvényt.
                  </div>
                </div>
              </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
            <h1>D1 + E</h1>
            <p>Nehézpótkocsit húznál D1 kategóriás busszal? Szerezz D1E jogosítványt</p>
            <p>Feltétele a D kategóriás jogoítvány</p>
            <p>Nehézpótkocsi (D1E) jogosítvány: Nemzetközi kategória. D1 kategóriába (busz max. 16+1 főig) tartozó gépjárműből és nehéz pótkocsiból álló járműszerelvény.</p>
        </div>
        <div class="col">
            <p>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExampleFive" aria-expanded="false" aria-controls="collapseWidthExampleFive">
                    Mit vezethetek D+1E kategóriával?
                </button>
              </p>
              <div style="min-height: 120px;">
                <div class="collapse collapse-horizontal" id="collapseWidthExampleFive">
                  <div class="card card-body" style="width: 300px;">
                    16 + 1 fős busz + nehézpótkocsi
                  </div>
                </div>
              </div>
        </div>
      </div>
</div>
  
</div>
</section>