<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1 text-primary">Gépjárműveink</h5>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="assets\pictures\gepjarmuvek\car2.jpg" alt="card image"></p>
                                    <h4 class="card-title text-primary">Ford Focus</h4>
                                    <p class="card-text">1.5 Dízel</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="bi bi-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <p><img class=" img-fluid" src="assets\pictures\gepjarmuvek\car2.jpg" alt="card image"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
             <!-- Team member -->
             <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="assets\pictures\gepjarmuvek\car3.jpg" alt="card image"></p>
                                    <h4 class="card-title text-primary">Tesla model X</h4>
                                    <p class="card-text">Elektromos</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="bi bi-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <p><img class=" img-fluid" src="assets\pictures\gepjarmuvek\car3.jpg" alt="card image"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
             <!-- Team member -->
             <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="assets\pictures\gepjarmuvek\car4.jpg" alt="card image"></p>
                                    <h4 class="card-title text-primary">Toyota Yaris</h4>
                                    <p class="card-text">Hybrid</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="bi bi-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <p><img class=" img-fluid" src="assets\pictures\gepjarmuvek\car4.jpg" alt="card image"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
             <!-- Team member -->
             <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="assets\pictures\gepjarmuvek\car5.jpg" alt="card image"></p>
                                    <h4 class="card-title text-primary">Toyota Corolla</h4>
                                    <p class="card-text">1.6 Benzin</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="bi bi-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <p><img class=" img-fluid" src="assets\pictures\gepjarmuvek\car5.jpg" alt="card image"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member --> <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="assets\pictures\gepjarmuvek\car6.jpg" alt="card image"></p>
                                    <h4 class="card-title text-primary">Ford Mustang</h4>
                                    <p class="card-text">3.0 Benzin</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="bi bi-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <p><img class=" img-fluid" src="assets\pictures\gepjarmuvek\car6.jpg" alt="card image"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member --> <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="assets\pictures\gepjarmuvek\car7.jpg" alt="card image"></p>
                                    <h4 class="card-title text-primary">KTM</h4>
                                    <p class="card-text">50 ccm</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="bi bi-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <p><img class=" img-fluid" src="assets\pictures\gepjarmuvek\car7.jpg" alt="card image"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
             <!-- Team member -->
             <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="assets\pictures\gepjarmuvek\car8.jpg" alt="card image"></p>
                                    <h4 class="card-title text-primary">Iveco</h4>
                                    <p class="card-text">4.6 Dízel</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="bi bi-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <p><img class=" img-fluid" src="assets\pictures\gepjarmuvek\car8.jpg" alt="card image"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
             <!-- Team member -->
             <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="assets\pictures\gepjarmuvek\car10.jpg" alt="card image"></p>
                                    <h4 class="card-title text-primary">DAF</h4>
                                    <p class="card-text">3.5 Dízel</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="bi bi-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <p><img class=" img-fluid" src="assets\pictures\gepjarmuvek\car10.jpg" alt="card image"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
             <!-- Team member -->
             <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="assets\pictures\gepjarmuvek\car12.jpg" alt="card image"></p>
                                    <h4 class="card-title text-primary">MTZ</h4>
                                    <p class="card-text">3.5 Dízel</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="bi bi-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <p><img class=" img-fluid" src="assets\pictures\gepjarmuvek\car12.jpg" alt="card image"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
             <!-- Team member -->
             <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="assets\pictures\gepjarmuvek\car11.jpg" alt="card image"></p>
                                    <h4 class="card-title text-primary">Scania</h4>
                                    <p class="card-text">4.6 Dízel</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="bi bi-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <p><img class=" img-fluid" src="assets\pictures\gepjarmuvek\car11.jpg" alt="card image"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
             <!-- Team member -->
             <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="assets\pictures\gepjarmuvek\car13.jpg" alt="card image"></p>
                                    <h4 class="card-title text-primary">Piaggio</h4>
                                    <p class="card-text">50 ccm</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="bi bi-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <p><img class=" img-fluid" src="assets\pictures\gepjarmuvek\car13.jpg" alt="card image"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
             <!-- Team member -->
             <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="assets\pictures\gepjarmuvek\car14.jpg" alt="card image"></p>
                                    <h4 class="card-title text-primary">Iveco</h4>
                                    <p class="card-text">3.5 Dízel</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="bi bi-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <p><img class=" img-fluid" src="assets\pictures\gepjarmuvek\car14.jpg" alt="card image"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
        </div>
    </div>
</section>
<!-- Team -->
