<section id="section">
<div class="container mt-5">
<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Milyen jogosítványt szerezhetek az autósiskolában?
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">AM, B, C, D, T és az adott kategóriáknál feltüntetett alkategóriákban.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Mit jelent a kezdő vezetői engedély?
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">A magyar szabályozás szerint a vezetési jogosultság első alkalommal történő megszerzésének napjától számított két évig a vezetői engedély kezdő vezetői engedélynek minősül. Motoros kategória esetében ez idő alatt utas nem szállítható, személygépkocsis kategóriánál pótkocsi nem vontatható.  18 éves kor alatt csak belföldön vezethető gépjármű.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          Van-e lehetőségem otthoni tanulásra?
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Igen, elektronikus tananyagot biztosítunk tanulóink számára.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseThree">
          Van-e lehetőség részletfizetésre?
        </button>
      </h2>
      <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Igen van! Az elméleti tandíj egyösszegben fizetendő, de a gyakorlati órák díjait akár alkalmanként/levezetett óránként is lehet fizetni. A vizsgadíjakat a vizsga előtt 10 nappal kell befizetni.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseThree">
          Hogyan tudom befizetni a díjakat?
        </button>
      </h2>
      <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">A tandíjat, valamint vizsgadíjakat kizárólag utalással lehet befizetni az alábbi számlaszámra: 0000-6666-2222-1111 Fontos, hogy midig pontos összeget utalj! Minden esetben résszámlát állítunk ki, melyen megtalálod az azonosító számot, melyet a közlemény rovatba kell beírni. Az azonosító a monogramod betűjeléből és tanuló azonosítódból áll.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSix">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseThree">
          Jelentkezéskor mit vigyek magammal?
        </button>
      </h2>
      <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">A jelentkezési lap kitöltéséhez szükségünk van a személyi igazolványodra, lakcímkártyádra, orvosi alkalmassági igazolásra (amennyiben a kategóriánál szükséges), min. 8 általános iskolai végzettséget igazoló bizonyítványra (kivétel "T" kategória) és ha már van meglévő vezetői engedélyed, akkor azt is hozd magaddal.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSeven">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseThree">
          Az orvosi alkalmassági honnan/kitől szerezhető be?
        </button>
      </h2>
      <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">A háziorvos állítja ki. Az orvosi alkalmassági vizsgálat díjköteles, amely a jelentkező életkorától függ.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingEight">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseThree">
          Mennyi idő alatt tudom elvégezni az online KRESZ tanfolyamot?
        </button>
      </h2>
      <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">A tanulásra 6 hónap áll rendelkezésre és 75 óra. Amennyiben nem sikerül elsajátítani a tananyagot, pótóradíj ellenében 1 hónap és 10 órát tudunk pluszban biztosítani a korábban fel nem használt órák mellett.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingNine">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseThree">
          Meddig mehetek elméleti vizsgázni és hányszor próbálkozhatok?
        </button>
      </h2>
      <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Az első elméleti vizsgának 9 hónapon belül meg kell történnie, azt követően 3 hónapon belül le kell vizsgázni! Pótvizsgát ezidő alatt bármennyit tehetsz, de minden esetben pótvizsgadíjat kell megfizetned.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTen">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseThree">
          Sikerült a forgalmi/gyakorlati vizsgám is. A jogosítványomat hol kaphatom meg?
        </button>
      </h2>
      <div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingTen" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">A sikereses forgalmi vizsga után 3-4 nappal mehetsz az elsősegély tanfolyam igazolásoddal és papírjaiddal együtt a legközelebbi Kormányablakba.</div>
      </div>
    </div>
  </div>
</div>
</section>