<section id="section">
    <div class="container mt-5">

<div class="container">
    <div class="row">
      <div class="col">
        <h1>T kategória</h1><br>
        <p>Az oktatás első részében /56 órában/ elméleti képzés folyik, tantermi, vagy e-learning formában. Ide tartozik a KRESZ, a vezetési elmélet, a szerkezettani és üzemeltetési ismeretek, valamint a munkavédelem, tűzvédelem, és a szállítási, rakodási ismeretek. Az elméleti képzés vizsgával zárul, ahol két tesztet kell kitölteni. Ez a vizsga hasonló, mint a személygépkocsi vezetők vizsgája, annyi eltéréssel, hogy itt két teszt van. Az elméleti rész után a biztonsági ellenőrzés és üzemeltetés tantárgy oktatása következik. 10 óra képzés után szintén vizsgával zárul ez a tantárgy. Fontos tudni, hogy ezt a vizsgát csak sikeres elméleti vizsga után lehet letenni. Végezetül a járművezetői gyakorlatokra kerül sor. Itt a kötelező óraszám 25 óra. Természetesen ez a vezetés is vizsgával zárul.      </p>
        <h4>A jelentkezés feltétele:</h4><br>
        <p> A tanfolyamot betöltött 15 év és 6 hónap után kezdheted el. (tizenöt és fél éves korban) Az elméleti vizsgát leghamarabb 3 hónap múlva teheted le, majd a gyakorlati vizsgádat a 16. életéved betöltését követően. Ebben az esetben a teljes képzés legalább fél évet vesz igénybe. Természetesen a 16. életévüket betöltött tanulók ennél lényegesen hamarabb juthatnak jogosítványhoz!</p>
      </div>
      <div class="col">
        <p>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExampleOne" aria-expanded="false" aria-controls="collapseWidthExampleOne">
              Mit vezethetek T kategóriával?
            </button>
          </p>
          <div style="min-height: 120px;">
            <div class="collapse collapse-horizontal" id="collapseWidthExampleOne">
              <div class="card card-body" style="width: 300px;">
                A "T" kategóriás vezetői engedéllyel lehet vezetni a mezőgazdasági vontatót 2 db nehéz pótkocsival, a lassú járművet 1 db nehéz pótkocsival, a kerti traktort és az állati erővel vont járművet.
              </div>
            </div>
          </div>
      </div>
    </div>
</div>
  
</div>
</section>