<section id="section">
<div class="container-fluid p-4 bg-primary text-white text-center">
    <h1>Négykerekű Autósiskola</h1>
    <p>Jó helyre hozott az utad!</p> 
  </div>
    
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-4">
        <h3>E-learning</h3><br>
        <p class="text-break">Az e-learning képzés korszerű, otthonából kényelmesen szabad időbeosztással elvégezhető tanfolyam. Előnye, hogy nem kell várni a következő induló tanfolyamra, nem kell bejárni órára, a tanfolyamot szabad időbeosztás alapján, tetszőleges helyen el lehet végezni. </p>
        <p class="text-break">Ehhez csupán egy számítástechnikai eszközre (pc, laptop, tablet) valamint internet elérhetőségre van szükség. </p>
		<p class="text-break">Autósiskolánkban az e-learning képzés 180 napos hozzáférési lehetősségel történik, így mindenkinek elegendő idő áll rendelkezésére a szükséges közlekedési alapismeretek megfelelő szintű elsajátítására.</p>
      </div>
      <div class="col-sm-4">
        <h3>Jól jársz velünk</h3><br>
        <p>Tanfolyamainkon tantermi és internetes távoktatás formában készítjük fel elméleti vizsgáira. Klímatizált tantermekkel, épületünkben és a tanpályán free wi-fi szolgáltatással állunk rendelkezésre. Felkészült, tapasztalt instruktoraink segítik gyakorlati képzését.</p>
        <p>Korszerű, klímás gépkocsik, népszerű motorkerékpár típusok, tehergépkocsik és autóbusz a flottában.</p>
		<p>Oktatási módszereinknek köszönhetően az országos átlag feletti eredményességgel tesznek sikeres vizsgát tanulóink.</p>
		<p>Akár 25.000 Ft kedvezményben is részesülhetsz!</p>
      </div>
      <div class="col-sm-4">
        <h3>Állami támogatás</h3><br>        
        <p> 2018. július 1-jét követően letett „B” kategóriás közúti járművezetői engedély megszerzéséhez szükséges közlekedési alapismeretek vizsga díjához, illetve a hozzá kapcsolódó közlekedési alapismeretek tanfolyam díjához.</p>
        <p>A kérelmet a „B” kategóriás vezetői engedély megszerzéséhez szükséges közlekedési alapismeretek vizsga sikeres letétele napjától számított 1 éven belül kell benyújtani.</p>
		<p>A támogatás mértéke a közlekedési alapismeretek tanfolyam díjának és a sikeres közlekedési alapismeretek vizsga igazgatási szolgáltatási díjának ténylegesen megfizetett összege.</p>
	</div>
    </div>
  </div>

  <div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="lc-block">
				<div id="carouselLogos" class="carousel slide pt-5 pb-4" data-bs-ride="carousel">

					<div class="carousel-inner px-5">
						<div class="carousel-item">
							<div class="row">
								<div class="col-6 col-lg-2 align-self-center">
									<img class="d-block w-100 px-3 mb-3" src="https://cdn.livecanvas.com/media/logos/11.png" alt="">
								</div>
								<div class="col-6 col-lg-2  align-self-center">
									<img class="d-block w-100 px-3  mb-3" src="https://cdn.livecanvas.com/media/logos/2.png" alt="">
								</div>
								<div class="col-6 col-lg-2  align-self-center">
									<img class="d-block w-100 px-3  mb-3" src="https://cdn.livecanvas.com/media/logos/3.png" alt="">
								</div>
								<div class="col-6 col-lg-2  align-self-center">
									<img class="d-block w-100 px-3  mb-3" src="https://cdn.livecanvas.com/media/logos/12.png" alt="">
								</div>
								<div class="col-6 col-lg-2  align-self-center">
									<img class="d-block w-100 px-3  mb-3" src="https://cdn.livecanvas.com/media/logos/5.png" alt="">
								</div>
								<div class="col-6 col-lg-2  align-self-center">
									<img class="d-block w-100 px-3  mb-3" src="https://cdn.livecanvas.com/media/logos/6.png" alt="">
								</div>
							</div>

						</div>
						<div class="carousel-item active">
							<div class="row">
								<div class="col-6 col-lg-2 align-self-center">
									<img class="d-block w-100 px-3 mb-3" src="https://cdn.livecanvas.com/media/logos/11.png" alt="">
								</div>
								<div class="col-6 col-lg-2  align-self-center">
									<img class="d-block w-100 px-3  mb-3" src="https://cdn.livecanvas.com/media/logos/2.png" alt="">
								</div>
								<div class="col-6 col-lg-2  align-self-center">
									<img class="d-block w-100 px-3  mb-3" src="https://cdn.livecanvas.com/media/logos/3.png" alt="">
								</div>
								<div class="col-6 col-lg-2  align-self-center">
									<img class="d-block w-100 px-3  mb-3" src="https://cdn.livecanvas.com/media/logos/12.png" alt="">
								</div>
								<div class="col-6 col-lg-2  align-self-center">
									<img class="d-block w-100 px-3  mb-3" src="https://cdn.livecanvas.com/media/logos/5.png" alt="">
								</div>
								<div class="col-6 col-lg-2  align-self-center">
									<img class="d-block w-100 px-3  mb-3" src="https://cdn.livecanvas.com/media/logos/6.png" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- /lc-block -->
		</div><!-- /col -->
	</div>
</div>
</section>