<section id="section">
    <div class="container mt-5">

<div class="container">
    <div class="row">
      <div class="col">
        <h1>B kategória 
          <button class="btn btn-danger" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Állami támogatás részletek!</button>
        </h1>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
          <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel">Állami támogatás a B kategóriás elméleti tanfolyamra és vizsgára!</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            
        
            A kormány 55/2018 (III.23.) Korm. rendelete szerint a sikeresen letett "B" kategóriás közúti járművezetői engedély megszerzéséhez szükséges KRESZ-vizsga díjához, illetve a hozzá kapcsolódó KRESZ tanfolyam díjához támogatás igényelhető a Magyar Államkincstáron keresztül, maximum 25.000 Ft-os értékhatárig! A támogatás iránti kérelem a sikeres KRESZ-vizsga napjától számított egy éven belül terjeszthető elő.
            Jogosultsági feltételek:
            <br><br>
            <ul>
              <li>a sikeres KRESZ-vizsga napján a 20. életévét még nem töltötte be, vagy</li>
              <li>20. életévét már betöltötte, és a vizsga napján</li>
                <ol>csecsemőgondozási díjban,</ol>
                <ol>gyermekgondozási díjban,</ol>
                <ol> vagy gyermekgondozást segítő ellátásban részesült</ol>
            </ul>

            (feltéve, hogy korábban a támogatást még nem vette igénybe, és a sikeres "B" kategóriás KRESZ-vizsga letételére 2020.VI.30-a után került sor)
          </div>
        </div>
          <br>
        <p> A 3500 kg-ot meg nem haladó megengedett legnagyobb össztömegű gépkocsit, amely vezetőn kívül legfeljebb nyolc utas szállítására tervezett és gyártott gépjármű, valamint az ilyen gépjárműből és a hozzá kapcsolt, a vonatkozó jogszabályban meghatározott pótkocsiból álló járműszerelvényt.</p>
        <p>A tanfolyamra való felvétel feltételei:

          a 17. életév betöltése, vagy annál legfeljebb 6 hónappal fiatalabb
          1. csoportú orvosi alkalmassági vélemény
          jelentkezési lap kitöltése
          alapfokú iskolai végzettséget igazoló bizonyítvány
        </p>
        <p>
          A tanfolyam tantárgyai:
          Alapismeretek: 28 óra
          
          Közlekedési ismeretek
          A gépkocsivezetés elmélete
          Szerkezeti és üzemeltetési ismeretek
          Járművezetési gyakorlat: 29 óra</p>
      </div>
      <div class="col">
        <p>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExampleOne" aria-expanded="false" aria-controls="collapseWidthExampleOne">
              Mit vezethetek B kategóriával?
            </button>
          </p>
          <div style="min-height: 120px;">
            <div class="collapse collapse-horizontal" id="collapseWidthExampleOne">
              <div class="card card-body" style="width: 300px;">
                <ul>
                  <li>személygépkocsi</li>
                  <li>mg-i vontató könnyűpótkocsival</li>
                  <li>segédmotoros kerékpár, lassú jármű és pótkocsija</li>
                  <li>kerti traktor</li>
                  <li>állati erővel vont jármű</li>
                </ul>

              </div>
            </div>
          </div>
      </div>
    </div>
    
    <div class="row">
        <div class="col">
            <h1>B+E kategória</h1> 
            <p>Akkor szükséges, ha személygépkocsival 750 kg megengedett legnagyobb össztömegnél nagyobb pótkocsit (nehézpótkocsit) szeretnénk vontatni (pl. hajószállító, lószállító, nagyméterű lakókocsi, tréler, stb.).</p>
            <p>Életkor: 18. életév </p>
            <p>Feltétel: érvényes “B” kategóriás jogosítvány <br>(amely nem minősül kezdő vezetői engedélynek)</p>
          </div>
        <div class="col">
            <p>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExampleTwo" aria-expanded="false" aria-controls="collapseWidthExampleTwo">
                    Mit vezethetek B+E kategóriával?
                </button>
              </p>
              <div style="min-height: 120px;">
                <div class="collapse collapse-horizontal" id="collapseWidthExampleTwo">
                  <div class="card card-body" style="width: 300px;">
                    Személyautó + nehéz pótkocsi.
                  </div>
                </div>
              </div>
        </div>
      </div>
</div>
  
</div>
</section>