<section id="section">
    <div class="container mt-5">

<div class="container">
    <div class="row">
      <div class="col">
        B kategória rövid ismertetője.
      </div>
      <div class="col">
        <p>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExampleOne" aria-expanded="false" aria-controls="collapseWidthExampleOne">
              Mit vezethetek B kategóriával?
            </button>
          </p>
          <div style="min-height: 120px;">
            <div class="collapse collapse-horizontal" id="collapseWidthExampleOne">
              <div class="card card-body" style="width: 300px;">
                This is some placeholder content for a horizontal collapse. It's hidden by default and shown when triggered.
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="row">
        <div class="col">
            B+E kategória rövid ismertetője.
        </div>
        <div class="col">
            <p>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExampleTwo" aria-expanded="false" aria-controls="collapseWidthExampleTwo">
                    Mit vezethetek B+E kategóriával?
                </button>
              </p>
              <div style="min-height: 120px;">
                <div class="collapse collapse-horizontal" id="collapseWidthExampleTwo">
                  <div class="card card-body" style="width: 300px;">
                    This is some placeholder content for a horizontal collapse. It's hidden by default and shown when triggered.
                  </div>
                </div>
              </div>
        </div>
      </div>
</div>
  
</div>
</section>