<section id="section">
    <div class="container mt-5">

<div class="container">
    <div class="row">
      <div class="col">
        <h1>C kategória</h1><br>
        <p>Vizsgázhat az, aki
          a külön jogszabályban meghatározott közlekedésbiztonsági és egészségügyi feltételeknek megfelel,
          rendelkezik legalább alapfokú iskolai végzettséggel, van B kategóriás vezetői engedélye,
          kitöltötte és megfelelő okmányokkal látta el a Jelentkezési és vizsgalapot,
          megkötötte a képzési szerződést, legalább 17 és fél éves.
          <p>
          Elméleti vizsgát tehet, aki: <br><br>
          
          Elvégezte a tanfolyam elméleti részét,
          legfeljebb 3 hónappal fiatalabb a 18 életévénél.
          Rutin vizsgát az tehet, aki minden elméleti vizsgatárgyat teljesített, és betöltötte az előírt (18 éves) életkort.
        </p>
          Biztonság és üzemeltetés vizsgára bocsátható az a hallgató, aki biztonság és üzemeltetés oktatáson részt vett és ezt igazoltan elvégezte. <br><br>
          <p>
          Forgalmi vizsgát az tehet, aki a képzés gyakorlati részét igazoltan elvégezte, és teljesített minden előzetes vizsgakövetelményt.</p>
      </div>
      <div class="col">
        <p>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExampleOne" aria-expanded="false" aria-controls="collapseWidthExampleOne">
              Mit vezethetek C kategóriával?
            </button>
          </p>
          <div style="min-height: 120px;">
            <div class="collapse collapse-horizontal" id="collapseWidthExampleOne">
              <div class="card card-body" style="width: 300px;">
                <ul>
                  <li>b kategóriás személygépjármű </li>
                  <li>az autóbusz és a trolibusz kivételével a 3500 kg megengedett legnagyobb össztömeget meghaladó gépkocsi, valamint az ilyen gépkocsiból és könnyű pótkocsiból álló járműszerelvény</li>
                  <li>C1″ alkategóriás gépkocsi</li>
                  <li>mg-i vontató könnyűpótkocsival</li>
                  <li>segédmotoros kerékpár, lassú jármű és pótkocsija</li>
                  <li>kerti traktor</li>
                  <li>állati erővel vont jármű</li>
                </ul>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>C+E kategória</h1><br>
            <p>"C" kategóriába sorolt gépkocsiból és nehézpótkocsiból álló járműszerelvény.</p>
            <p>Feltétel:

              Betöltött 20 és fél életév,
              "B" és "C" kategóriás nem kezdő vezetői engedély (B jogsi legalább 2 éves)
              Alapfokú iskolai végzettség
              2. csoportú orvosi</p>
        </div>
        <div class="col">
            <p>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExampleTwo" aria-expanded="false" aria-controls="collapseWidthExampleTwo">
                    Mit vezethetek C+E kategóriával?
                </button>
              </p>
              <div style="min-height: 120px;">
                <div class="collapse collapse-horizontal" id="collapseWidthExampleTwo">
                  <div class="card card-body" style="width: 300px;">
                    C kategóriás tehergépkocsi + nehézpótkocsi
                  </div>
                </div>
              </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
            <h1>C+1E kategória</h1>
            <p>A „C1E” kategóriás vezetői engedélyt csakis „C1” kategóriás vezetői engedéllyel rendelkezők szerezhetnek, mivel ez a kategória a lenyíló menüben szereplő gépjárművek vezetésére jogosítja fel:</p>
            <p>Fontos, hogy a Tt. 49/2014 sz. törvénye alapján a „C1E” vezető engedéllyel nemcsak „C1E” kategóriás járműveket, hanem „C1”, „BE” és „T” kategóriás járműveket is lehet vezetni, vagyis kisebb tehergépkocsit, személyautót vagy több személy szállítására alkalmas mikrobuszt, amelyek után egy nehezebb pótkocsi van kapcsolva (megj. a nehéz pótkocsi miatt a „BE” ebben az esetben már nem érvényes), valamint pótkocsis mezőgazdasági és erdészeti traktorokat.</p>
            <p>A tanfolyamon való részvétel feltételei „C1E” kategóriánál:</p>
              <ul>
                <li>Betöltött 18. életév</li>
                <li>„C1” kategóriás vezetői engedély</li>
                <li>A kötelező orvosi alkalmassági vizsgálaton való részvétel (pszichológiai vizsgálat is)</li>
                <li>Állandó lakhely Magyarország területén</li>
              </ul>
              <p>Felhívjuk a jelentkezők figyelmét, hogy ezen kategóriához GKI tanfolyam elvégzése, az érvényes jogszabályok értelmében, kötelező.</p>
              
              
              
          </div>
        <div class="col">
            <p>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExampleThree" aria-expanded="false" aria-controls="collapseWidthExampleThree">
                    Mit vezethetek C+1E kategóriával?
                </button>
              </p>
              <div style="min-height: 120px;">
                <div class="collapse collapse-horizontal" id="collapseWidthExampleThree">
                  <div class="card card-body" style="width: 300px;">
                    <ul>
                      <li>C1” kategóriába tartozó vontató járműből és nehéz (750 kg meghaladó tömegű) pótkocsiból álló olyan járműszerelvény, amelynek megengedett legnagyobb össztömege 12 000 kg;</li>
                      <li>olyan járműszerelvény, amelyben a vontató jármű a „B” kategóriába tartozik, pótkocsijának megengedett legnagyobb össztömege a 3500 kg-ot meghaladja, de a szerelvény megengedett legnagyobb össztömege a 12 000 kg- ot nem haladja meg.</li>
                    </ul>
                  </div>
                </div>
              </div>
        </div>
      </div>
</div>
  
</div>
</section>